h1{
    font-size: xx-large;
    background-color:beige;
}
 h2{font-size: x large;
    background-color: bisque;
 }
hr {
    background-color: blanchedalmond;
    text-decoration-color: burlywood;
    text-indent: 0cm;
}
.id {
    background-color: cadetblue;
}
.content{
    text-decoration-color: darkcyan;
}